* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  align-items: center;
  background-color: yellow;
  list-style-type: none;
}

.item {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: purple;
}

.purple {
  width: 100px;
  height: 100px;
  z-index: 1;
  display: flex;
  position: fixed;
}
