<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
    <% if (todos.length > 0) { %>
      <ul>
        <% todos.forEach(elem => { %>
          <li><%= elem %></li>
        <% }); %>
      </ul>
    <% } else { %>
      <h2>Nothing to do!</h2>
    <% } %>
  </body>
</html>